/* body*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 600px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin: 50px auto;
    position: relative;
}
.box{
    width: 50%;
    height: 50%;
    background-color: black;
    position: absolute;
    right: 25%;
    top: 25%;
}
.box1{
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 25%;
    top: 25%;
}
.box2{
    width: 50%;
    height: 50%;
    background-color: black;
    position: absolute;
    right: 25%;
    top: 25%;
}