*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 1000px;
    height: 600px;
    background-color: rgb(250, 250, 250);
    margin: 50px auto;
    border: 5px solid rgb(26, 72, 221);
}
.sub-main{
    width: 98%;
    height: 98%;
    background-color: rgb(206, 206, 206);
    margin: 6px auto;
}
header{
    width: 100%;
    height: 20%;
    background-color: springgreen;
}
header img{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    height: 65%;
    background-color: tomato;
    display: flex;
}
.box{
    width: 15%;
    height: 100%;
    background-color: cornsilk;
}
.box1{
    padding: 20px;
    width: 70%;
    height: 100%;
    background-color: white;
}
.box img{
    width: 100%;
    height: 100%;
}
.box1 img{
    width: 80%;
    height: 41%;
    margin-left: 50px;
}
footer{
    width: 100%;
    height: 15%;
    background-color: springgreen;
}
footer img{
    width: 100%;
    height: 100%;
}
